
.corpotexto {
	color: white;
	text-align: justify;
	font-size: 1em;
}


.jumbotron-costum{
	background-image: url(../imagem/imagemcorpo.jpg);
	width: 100%;
	padding-bottom: 50px;
	padding-top: 50px;
	margin-bottom: 0;
	 background-size: cover;
	background-repeat: no-repeat;
}
